/**
 * 05. Widget
 */
.control-section{

  .taf-field{
    padding: 0;

    .taf-title{
      float: none;
      width: 100%;
      margin-bottom: 6px;

      h4{
        display: block;
        font-size: 13px;
        line-height: 1;
        font-weight: 600;
        color: inherit;
      }
    }

    .taf-fieldset{
      float: none;
      width: 100%;
    }
  }

  .taf-help{
    top: -5px;
    right: -5px;
  }

  .taf-field-select select{
    width: 100%;
  }

  .taf-field-heading{
    color: inherit;
    font-size: 14px;
    line-height: 1em;
    margin-right: -15px;
    margin-left: -15px;
    padding: 15px;
  }

  .taf-field-subheading{
    color: inherit;
    font-size: 11px;
    margin-right: -15px;
    margin-left: -15px;
    padding: 10px 15px;
  }

  .taf-subtitle-text{
    margin-top: 4px;
    font-size: 12px;
  }

  .taf-field-submessage .taf-submessage{
    margin-right: -15px;
    margin-left: -15px;
    padding: 15px;
  }

  .taf-fieldset{

    .taf-field-submessage .taf-submessage,
    .taf-field-heading,
    .taf-field-subheading{
      margin-left: 0;
      margin-right: 0;
    }
  }

  .taf-field-date,
  .taf-field-datetime{

    label{
      display: block;
    }

    .taf--to{
      margin-top: 4px;
      margin-left: 0;
    }
  }

  .taf-field-sorter{

    ul li{
      padding: 5px;
    }

    .taf-modules{
      float: none;
      width: 100%;
    }

    .taf-modules:first-child{
      padding-right: 0;
      padding-bottom: 15px;
    }
  }

  .taf-field-background{

    .taf--background-attributes{
      flex-direction: column;
    }
  }

  .taf-field-spacing{
    input{
      width: 90px;
    }
  }

  .taf-field-border{

    .taf--input{
      flex: 1 50%;
    }

    input,
    select{
      width: 100%;
    }
  }

  .taf-field-spinner{
    input{
      width: 50px;
    }
  }

  .taf-field-number{

    .taf--wrap{
      width: 100%;
    }
  }

  .taf-field-backup{

    .taf-export-data{
      display: none;
    }
  }

  .taf-field-fieldset{

    .taf-fieldset-content{
      border-color: #e5e5e5;
    }
  }

  .taf-tabbed-content,
  .taf-sortable-content,
  .taf-repeater-content,
  .taf-fieldset-content,
  .taf-cloneable-content,
  .taf-accordion-content{

    > .taf-field{
      padding: 10px;

      .taf-title{
        margin-bottom: 5px;
      }

      h4{
        font-size: 12px;
      }
    }
  }

  .taf-depend-hidden.taf-depend-on{
    display: none !important;
  }

  .taf-depend-visible.taf-depend-on{
    border-top: 0 !important;
  }
}
