/**
 * 12. Responsive
 */
@media only screen and (max-width:1200px){

  .taf-metabox{

    .taf-field{

      .taf-title{
        float: none;
        width: 100%;
        margin-bottom: 10px;
      }

      .taf-fieldset{
        float: none;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width:782px){

  .taf-header-inner{
    text-align: center;

    h1{
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .taf-form-result{
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .taf-search,
  .taf-header-right,
  .taf-header-left{
    width: 100%;
  }

  .taf-search{
    text-align: center;
    margin-bottom: 15px;
  }

  .taf-footer{
    text-align: center;
  }

  .taf-buttons{
    float: none;
  }

  .taf-copyright{
    float: none;
    margin-top: 10px;
  }

  .taf-nav,
  .taf-expand-all,
  .taf-reset-section,
  .taf-nav-background{
    display: none !important;
  }

  .taf-nav-normal + .taf-content{
    margin-left: 0;
  }

  .taf-section-title,
  .taf-section{
    display: block !important;
  }

  .taf-field{

    .taf-title{
      float: none;
      width: 100%;
      margin-bottom: 10px;
    }

    .taf-fieldset{
      float: none;
      width: 100%;
    }
  }

  .taf-field-color{

    .button.wp-picker-clear{
      padding: 0 8px;
      line-height: 2.14285714;
      min-height: 32px;
    }
  }

  .taf-profile-options,
  .taf-taxonomy-edit-fields{

    > .taf-field{

      > .taf-title{
        float: none;
        width: 100%;
        margin-bottom: 10px;
      }

      > .taf-fieldset{
        float: none;
        width: 100%;
      }
    }
  }

  .taf-nav-menu-options{

    > .taf-fields{
      margin-left: -10px;
      margin-right: -10px;

      > .taf-field{
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: 782px) {

  .taf-modal{

    .taf-modal-inner{
      width: 90%;
    }
  }
}

@media only screen and (max-height: 750px) {

  .taf-modal{

    .taf-modal-inner{
      height: auto;
    }

    .taf-modal-content{
      height: calc(100vh - 200px);
    }
  }
}
