/**
 * 04. Widget
 */
.taf-widgets{

  > .taf-field{
    position: relative;
    top: -1px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 12px 15px;

    .taf-title{
      float: none;
      width: 100%;
      margin-bottom: 5px;
    }

    .taf-fieldset{
      float: none;
      width: 100%;
    }
  }

  .taf-field-text input{
    width: 100%;
  }

  .taf-field-notice .taf-notice{
    padding: 15px;
  }
}

.control-section{

  .taf-widgets{

    > .taf-field{
      margin-left: -10px;
      margin-right: -10px;
      padding: 10px 12px;
    }
  }
}

.wp-block{

  .taf-widgets{
    font-size: 13px;

    > .taf-field{
      margin-left: -10px;
      margin-right: -10px;

      .button-primary{
        color: #fff;
      }

      > .taf-title{

        > h4{
          font-size: 13px;
        }
      }
    }
  }
}
